@import "tailwindcss";

@keyframes float-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}
.animate-float-slow {
  animation: float-slow 6s ease-in-out infinite;
}
.delay-2s {
  animation-delay: 2s;
}
.delay-1s {
  animation-delay: 1s;
}

section {
  scroll-margin-top: 100px; /* height of navbar */
}
html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
  transform: translateY(60px);
}

.projects-section,
.technical-skills-section {
  transition: background 0.3s ease;
}
